.logoContainer:hover .fa-ravelry {
  color: rgb(33, 33, 119);
  transition: 0.5s;
  transform: rotateY(360deg);
  cursor: pointer;
}

.iconLink {
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

.iconLink:hover {
  cursor: pointer;
  background-color: rgb(129, 183, 255);
  transition: 0.5s;
}